<!DOCTYPE html>
<html lang="en">
  <head>
<%- include ../../partials/header.ejs %>
</head>

<body>
    <!-- File name: projects.ejs
  Student’s Name: Muhammad Abdulsalam 
  StudentID:301273806
   Date: June 3, 2023 -->
<%- include ../../partials/main_nav.ejs %>

<div class="container">
    <div class="row">

        <div class="offset-md-3 col-md-3">
            <h1><%= title %></h1>
            <% for(var i in messages) { %>
                <div class="flash"><%= messages[i] %></div>
            <% } %>
            <form action="/users/signin" method="post">
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control"/>
                </div>
                <br>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Sign In" />                    
                </div>
                <br>
                <div class="form-group">
                    <a href="/users/signup" style="text-decoration: none">                
                        <i class="fas fa-user-plus"></i> 
                        Signup
                    </a>
                </div>
            </form>
        </div>
        <div>
                        
        </div>
    </div>
</div>
<footer class="footer bg-dark text-light py-3">  
    <%- include ../../partials/footer.ejs %>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
    The code above I commented so I dont forget the change I made to get the navbar dropdown toggle to work.
    I was using the bootstrap file path above, but It only worked when I changed to the one below
    -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    </body>
    </html>