<!DOCTYPE html>
<html lang="en">
  <head>
<%- include ../partials/header.ejs %>
</head>

<body>
    <!-- File name: projects.ejs
  Student’s Name: Muhammad Abdulsalam 
  StudentID:301273806
   Date: June 3, 2023 -->
<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add_Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= contact._id %>"
                    >

            
                    <label for="nameTextField">Name</label>
                    <input type="text"
                           class="form-control"
                           id="nameTextField"
                           placeholder="Enter your Full name"
                           name="name"
                           value="<%= contact.name %>"
                           required>
                </div>

                <div class="form-group">
                    <label for="phoneTextField">Phone Number</label>
                    <input type="tel"
                           class="form-control"
                           id="phoneTextField"
                           placeholder="Enter your 10-digit phone number"
                           name="phone_no"  
                           value="<%= contact.phone_no %>"
                           pattern="[0-9]{10}" required>   <!-- Specify a pattern for a 10-digit phone number -->
                </div>
                

                <div class="form-group">
                    <label for="emailTextField">Email Address</label>
                    <input type="email"
                           class="form-control"
                           id="emailTextField"
                           placeholder="Enter your email address e.g jdoe@hotmail.com"
                           name="email"
                           value="<%= contact.email %>"
                           required>
                </div>
                
                
                <br />
               
              

             
                

                <br/>
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Submit
                </button>
                
                <a href="/contacts/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>

                <% if (title == "Edit a Contact Details") { %>
                    <a href="/contacts/delete/<%= contact._id %>" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete Contact
                    </a>
                       
                  <% } %>

                  
            </form>
        </div>

    </div>
</div>
<footer class="footer bg-dark text-light py-3">  
    <%- include ../partials/footer.ejs %>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <!-- <script src="/bootstrap/dist/js/bootstrap.min.js"></script> 
    The code above I commented so I dont forget the change I made to get the navbar dropdown toggle to work.
    I was using the bootstrap file path above, but It only worked when I changed to the one below
    -->
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    </body>
    </html>